<ul>
  <li><a href="{{ "/about" | prepend: site.baseurl | replace: '//' , '/' }}" class="header-link">About</a></li>
  <li><a href="{{ "/cv" | prepend: site.baseurl | replace: '//' , '/' }}" class="header-link">CV</a></li>
  <li><a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}" class="header-link">Archive</a></li>
  <li><a href="{{ "/publications" | prepend: site.baseurl | replace: '//' , '/' }}" class="header-link">Publications</a></li>
  <li><a href="{{ "/talks" | prepend: site.baseurl | replace: '//' , '/' }}" class="header-link">Talks</a></li>
  <li><a href="{{ "/portfolio" | prepend: site.baseurl | replace: '//' , '/' }}" class="header-link">Portfolio</a></li>
  <li><a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//' , '/' }}" class="header-link">RSS</a></li>
</ul>
