<a href="{{ "/about" | prepend: site.baseurl | replace: '//' , '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/cv" | prepend: site.baseurl | replace: '//' , '/' }}"><h2 class="header-link">CV</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/publications" | prepend: site.baseurl | replace: '//' , '/' }}"><h2 class="header-link">Publications</h2></a>
<a href="{{ "/talks" | prepend: site.baseurl | replace: '//' , '/' }}"><h2 class="header-link">Talks</h2></a>
<a href="{{ "/portfolio" | prepend: site.baseurl | replace: '//' , '/' }}"><h2 class="header-link">Portfolio</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//' , '/' }}"><h2 class="header-link">RSS</h2></a>
